<div class="flex flex-col items-center justify-center min-h-screen">
  <h1 class="text-3xl font-bold mb-8">Torcedor Maluco</h1>
  <%= button_to "Jogar", games_path, method: :post, class: "bg-green-500 text-white px-8 py-4 rounded-lg text-xl font-bold" %>
</div>
